aiohttp
aiosignal
asgiref
async-generator
attrs
boto
botocore
certifi
charset-normalizer
click
cycler
dj-database-url
Django>=3.2
django-cors-headers
django-storages-redux
frozenlist
gensim
gunicorn
h11
idna
jmespath
joblib
kiwisolver
matplotlib
multidict
nltk
numpy
openai==0.27.0
outcome
packaging
pandas
patsy
Pillow
psycopg2-binary
pycparser
pyparsing
PySocks
python-dateutil
pytz
regex
requests
s3transfer
scikit-learn
scikit-posthocs
scipy
seaborn
selenium
six
smart-open
sniffio
sortedcontainers
sqlparse
statsmodels
threadpoolctl
tqdm
trio
trio-websocket
trueskill
typing-extensions
urllib3
wsproto
yarl
yellowbrick
zipp
langchain-ollama
